// Typography
$base-font-family: 'Open Sans', sans-serif;
$alt-font-family: $base-font-family;

// Font Sizes
$base-font-size: 16px;

// The following values can be interpolated with `em` or `rem` to produce font size minimums and maximums, see `2-tools` for more information
// NOTE: - These variables are not for direct use. Instead, make use of the `@font-size` mixin found in `2-tools`
$xs-font-size--min: 0.5;
$xs-font-size--max: 0.75;
$sm-font-size--min: 0.75;
$sm-font-size--max: 0.85;
$base-font-size--min: 0.85;
$base-font-size--max: 1;
$lg-font-size--min: 1.25;
$lg-font-size--max: 1.563;
$xl-font-size--min: 1.563;
$xl-font-size--max: 1.953;


// Line height
$base-line-height: 1.2;
