// Responsive type mixin
// Pass in the minimum and maximum font size for an element
@mixin resp-type($min-font, $max-font, $min-width: $min-width, $max-width: $max-width) {
  font-size: #{$min-font}rem;

  @media screen and (min-width: $min-width) {
    font-size: calc(#{$min-font}rem + 0.25vw);
  }

  @media screen and (min-width: $max-width) {
    font-size: #{$max-font}rem;
  }
}

// Map of standard text sizes, in rem units
$font-size-map: (
  'xs':   ($xs-font-size--min, $xs-font-size--max),
  'sm':   ($sm-font-size--min, $sm-font-size--max),
  'base': ($base-font-size--min, $base-font-size--max),
  'lg':   ($lg-font-size--min, $lg-font-size--max),
  'xl':   ($xl-font-size--min, $xl-font-size--max)
);

// Mixin to retrieve values to use standard font sizes across platforms
@mixin font-size($size) {
  $list: map-get($font-size-map, $size);

  @include resp-type(nth($list, 1), nth($list, 2));
}

// Misc typographic mixins
@mixin truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
