.close-button {
  color: $blue;
  transform: scale(1);
  transition: transform $base-duration $base-easing;
  justify-self: end;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.close-button__icon {
  height: 40%;
  width: 40%;
  margin-top: 2px;
  fill: $white;
}
