@each $size, $breakpoint in $breakpoints {
  .is-hidden--below\@#{$size} {
    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }

  .is-hidden--above\@#{$size} {
    @media screen and (min-width: $breakpoint) {
      display: none;
    }
  }
}

.is-hidden {
  display: none;
}
