@mixin button() {
  @include font-size('base');
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0; // fixes Safari defect when class applied to `<button>` elements
  padding: $spacing--xs $spacing--sm;
  font-family: $base-font-family;
  line-height: initial;
  text-decoration: none;
  cursor: pointer;
  border-radius: $base-border-radius;
  width: 100%;
  position: relative; // allows absolute positioning within
  box-shadow: 0 0.0625em 0 rgba($black, 0.125);

  + .button {
    margin: $spacing--xs 0 0;
  }

  @media screen and (min-width: $breakpoint--sm) {
    width: auto;

    + .button {
      margin: 0 0 0 $spacing--xs;
    }
  }

  &:focus {
    outline-offset: -2px; // Makes outline inset so that `currentColor` when set to `$white` is still visible
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}

@mixin button-psuedo-element {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $base-border-radius;
  z-index: $base-z-index + 1;
  opacity: 0;
  transition: opacity $base-duration $base-easing;
}

@mixin button-gradient($color, $opacity) {
  background: linear-gradient(0deg, rgba($color, $opacity), rgba($color, 0));
}
