.search {
  position: relative;
  padding: $base-spacing * 2;
  margin: 0;

  input {
    margin: 0;
  }

  svg {
    position: absolute;
    top: $base-spacing * 4.25;
    left: $base-spacing * 4.25;
    width: 16px;
    height: 16px;
  }
}
