// Core colors
$blue: #1565c0;
$blue--light: scale-color($blue, $lightness: 17.125%);
$blue--dark: scale-color($blue, $lightness: -24%);

$slate: #607d8b;
$slate--light: scale-color($slate, $lightness: 18.75%);
$slate--dark: scale-color($slate, $lightness: -21.5%);

$midnight: #222a31;
$midnight--light: scale-color($midnight, $lightness: 13%);
$midnight--dark: scale-color($midnight, $lightness: -47%);

// Grayscale
$gray: #ccc;
$gray--light: scale-color($gray, $lightness: 85%);
$gray--dark: scale-color($gray, $lightness: -32%);

$white: #fff;
$black: #000;
