// Other variables
$base-border-radius: 5px;
$base-z-index: 0;
$base-duration: 0.3s;
$base-easing: ease-in-out;

// Spacing variables - NOTE: Not for use directly within components, use spacing models instead
$base-spacing: 0.5rem;

$spacing--xs: $base-spacing;
$spacing--sm: $base-spacing * 2;
$spacing--md: $base-spacing * 4;
$spacing--lg: $base-spacing * 8;
$spacing--xl: $base-spacing * 16;

// Grid variables
$base-gutter: $spacing--sm;
$max-supported-columns: 8;
