html,
body {
  background: #3b57a7;
  background: linear-gradient(0, #3b57a7, #002650) fixed;
  height: 100%;
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: sans-serif;
  line-height: $base-line-height;
}

html {
  text-size-adjust: none;

  &.wf-active body {
    font-family: $base-font-family;
  }

  &.wf-active li,
  &.wf-active p {
    letter-spacing: 0;
  }
}
