html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
button:focus,
[role='button']:focus,
[tabindex='0']:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 1px dashed currentColor;
}
