ul,
ol,
dl {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  -webkit-margin-start: 0;
  -moz-padding-start: 0;
  -moz-margin-start: 0;
}

ul {
  padding: 0;
}

li {
  text-align: left;
}

.list-group {
  border-radius: ($base-border-radius + 1);
  border: 1px solid #b5bdc6;
  padding: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;

  li {
    padding: ($base-spacing * 1.25) ($base-spacing * 2.25);
    border-bottom: 1px solid #b5bdc6;
    display: block;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.list-group--linked {
  li {
    padding: 0;

    &:hover {
      background: $blue;
      color: $white;
      cursor: pointer;

      a {
        color: $white;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    padding: ($base-spacing * 1.25) ($base-spacing * 2.25);
    width: 100%;
    height: 100%;
  }
}
