$min-width: 320px;
$max-width: 1200px;

$breakpoint--xs: 380px;
$breakpoint--sm: 481px;
$breakpoint--md: 768px;
$breakpoint--lg: 960px;
$breakpoint--xl: 1041px;

$breakpoints: (
  'xs': $breakpoint--xs,
  'sm': $breakpoint--sm,
  'md': $breakpoint--md,
  'lg': $breakpoint--lg,
  'xl': $breakpoint--xl
);
