.button {
  @include button();
}

.button--primary {
  // Decorative psuedo element with a gradient that is used as a neutral
  // overlay on primary, secondary, and ghost buttons
  &:after {
    @include button-psuedo-element();
  }

  &:hover:after {
    opacity: 1;
  }
}

.button--primary,
.button--primary:visited {
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;

  &:after {
    @include button-gradient($white, 0.125);
  }
}
