<{{{ element }}} class="button {{#classes}}{{ this }}{{/classes}}" {{#id}}id="{{ this }}"{{/id}} {{#ifEq element 'a'}}href="{{#href}}{{ this }}{{else}}javascript:void(0);{{/href}}"{{/ifEq}} {{#attr}}{{{ this }}}{{/attr}}>
  {{#if leftIcon}}
    {{#if leftIconClasses}}
      {{> icon
        classes=(concat "button__icon button__icon--left " leftIconClasses)
        symbol=iconSymbol
        title=iconTitle
      }}
    {{else}}
      {{> icon
        classes="button__icon button__icon--left")
        symbol=iconSymbol
        title=iconTitle
      }}
    {{/if}}
  {{/if}}

  {{#if rightIcon}}
    {{#if rightIconClasses}}
      {{> icon
        classes=(concat "button__icon button__icon--right " rightIconClasses)
        symbol=iconSymbol
        title=iconTitle
      }}
    {{else}}
      {{> icon
        classes="button__icon button__icon--right")
        symbol=iconSymbol
        title=iconTitle
      }}
    {{/if}}
  {{/if}}
</{{{ element }}}>
