<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Front End Dev Task</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <div class="container">
      {{> header }}

      <div class="search">
        {{> search }}
        <datalist id="search-list"></datalist>
      </div>

      {{> search-results }}

      {{> footer }}
    </div>
  </body>
</html>
