.search__results {
  background: #3c5894;
  background: linear-gradient(0, #3c5894, #204168) fixed;
  height: 100%;
  position: relative;
  margin: 0 ($base-spacing * 2);
  padding: ($base-spacing * 2) 0;
  overflow: hidden;

  li {
    color: $white;
    padding: ($base-spacing * 2) 0;
    position: relative;

    &:hover,
    &.hover {
      transition: all $base-duration $base-easing;
      background-color: #39587b;
    }
  }

  div {
    @include truncate();
    max-width: calc(100% - 100% / 3);
    display: inline-block;
  }

  span {
    padding: 0 ($base-spacing * 2);
  }


  .close-button:hover {
    transition: all $base-duration $base-easing;
    background-color: #783a52;
  }
}

.search__results-term {
  @include resp-type(1, 1.25);
}

.search__results-date-time {
  @include resp-type(0.85, 1.25);
}
