input {
  @include font-size('base');
  color: $white;
  border: 0;
  border-radius: $base-border-radius;
  background-color: #8092a7;
  display: inline-block;
  margin: $base-spacing * 2;
  width: 100%;
  overflow: hidden;
  padding: ($base-spacing * 2) ($base-spacing * 2) ($base-spacing * 2) ($base-spacing * 6);

  &::placeholder {
    color: #b5c1cd;
  }

  &::focus {
    background-color: #b3beca;
  }
}
