<input {{#if id}} id="{{this.id}}"{{/if}} class="input__field {{#if classes}} {{this.classes}}{{/if}}" type="{{inputType}}" {{#if list}} list="{{this.list}}"{{/if}} placeholder="{{inputPlaceholder}}" />
